=form_tag search_my_notes_path, class: 'navbar-form navbar-left note-search', role: 'search', method: :get, remote: true do
  .form-group
    =search_field_tag :q, params[:q], class: 'form-control', placeholder: 'Search'
  =button_tag class: 'btn btn-default' do
    i.icon-search
