<div id="templates">
  <div class="note-index">
    <li data-id="{{id}}">
      <a href="{{link}}">{{title}}</a>
    </li>
  </div>
  <script type="text/template" class="note-index-actions-template">
    <ul class="note-index-actions">
      <li class="delete">
        <i class="icon-remove"></i>
        Delete
      </li>
    </ul>
  </script>
</div>
