@mixin note-common {
  font-size: 12px;

  h1,h2,h3,h4,h5,h6 {
    font-weight: bold;
  }

  h1 {
    font-size: 160%;
    margin-top: 30px;

    &:first-child {
      margin-top: 10px;
    }
  }

  h2 {
    font-size: 130%;
  }

  h3 {
    font-size: 110%;
  }

  h4 {
    font-size: 100%;
  }

  h5 {
    font-size: 100%;
  }

  h6 {
    font-size: 100%;
  }
}
