@import "compass.css.scss";

.dashboard {

  padding-top: 10px;

  h1 {
    font-size: 20px;
  }

  .recent-notes {
    &>* {
      margin-bottom: 20px;
    }
  }

  .dashboard-actions {
    padding: 10px;
    margin: 0;
    margin-bottom: 20px;
    background-color: #664;
    @include border-radius(10px);

    li {
      display: inline;
      width: 100px;
      margin-right: 10px;

      a {
        display: inline-block;
        font-size: 32px;
        color: #fff;
        padding: 6px 20px;
        @include border-radius(6px);

        &:hover {
          text-decoration: none;
          background-color: #886;
        }

        div {
          display: block;
          font-size: 12px;
        }
      }
    }
  }
}

.note-stat {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;

  .total-note-count {
    font-size: 20px;
    font-weight: bold;
  }

  td {
    padding: 0px 4px;
    vertical-align: bottom;
    
    &:first-child {
      text-align: right;
    }
  }
}
