@import "compass";
@import "common";
@import "note_common";

.note-for-dashboard {
  border: 1px solid #ddd;

  @include border-radius(4px);

  &>div {
    padding: 2px 4px;
  }
  
  .header {
    background-color: $border-color2;
  }

  .title {
    font-size: 20px;
    font-weight: bold;
  }

  .content {
    max-height: 400px;
    overflow-y: hidden;

    @include note-common;

    h1:first-child {
      margin-top: 4px;
    }
    
    img {
      max-width: 50%;
    }
  }
}