@import "compass";

$note-background-color: #44aa44;
$index-background-color: #aaeeaa;
$index-mark-color: #484;

$note-background-color: #f0f0f0;
$index-background-color: #ddd;
$index-mark-color: #484;
$handle-dragging-background-color: #dfc;

@mixin handle-dragging {
  //border-left: 1px dashed #666;
  //border-right: 1px dashed #666;
  border: 1px dashed #666;
  border-top-width: 0;
  border-bottom-width: 0;
}

body#my_notes-show {
  background-color: $note-background-color;
}

.note {
  position: relative;
  padding: 0;


  &::after {
    clear:both;
  }

  .sidebar {
    position: fixed;
    width: 216px;
    height: 100%;
    z-index: 1;

    .handle {
      position: absolute;
      //z-index: 10;
      //z-index: 2;
      top: 0;
      bottom: 0;
      right: -10px;
      width: 10px;
      background-color: $note-background-color;
      //background-color: yellow;
      cursor: col-resize;

      &.ui-draggable-dragging {
        @include handle-dragging;
      }
    }
  }

  .index {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: $index-background-color;
    overflow: scroll;
    height: 100%;
    @include border-radius(6px);

    ul {
      list-style: none;
      margin-left: 0px;
      padding-left: 0px;

      >li {
        cursor: pointer;
        padding: 0 10px;
        white-space: nowrap;

        &:hover {
          background-color: #f8f8f8;
        }

        i {
          color: $index-mark-color;
        }

        &[data-depth="1"] {
          margin-top: 8px;
          font-size: 100%;
          color: #000;
        }

        &[data-depth="2"] {
          font-size: 90%;
          padding-left: 20px;
          color: #222;
        }

        &[data-depth="3"] {
          font-size: 80%;
          color: #444;
          padding-left: 30px;
        }

        &[data-depth="4"] {
          font-size: 75%;
          color: #666;
          padding-left: 40px;
        }

        &[data-depth="5"] {
          font-size: 70%;
          color: #666;
          padding-left: 50px;
        }

        &[data-depth="6"] {
          font-size: 65%;
          color: #666;
          padding-left: 60px;
        }

      }
    }
  }

  .editor {
    position: absolute;
    padding: 0px;
    //.footer {
    //  height: 100px;
    //  background-color: #fff;
    //}
    left: 0;
    top: 0;
    bottom: 0;
    right: 0px;

    z-index: 0;

    textarea {
      width:100%;
      min-height: 480px;
      padding: 10px;
      resize: none;
      margin: 0px;
      border: 0;
      //border-bottom: 1px dotted #888;
      //background-color: #fff;
      @include border-radius(6px);
      @include box-shadow(red 0px 0px 0px);
      //outline: 0px none transparent;
      outline: none !important;
      &:focus {
        border: 0;
        outline: 0px none transparent !important;
      }
    }
  }
}



.editor-container {
  position: absolute;

  top: 0;
  left: 226px;
  right: 0px;
  height: 100px;

  z-index: 0;
}

.right-sidebar {
  position: fixed;
  right: 0;
  top: 54px;
  bottom: 0;
  width: 310px;
  z-index: 1;
  //background: blue;

  .handle {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0px;
    width: 10px;
    background-color: $note-background-color;
    cursor: col-resize;
    z-index: 2;

    &.ui-draggable-dragging {
      @include handle-dragging;
    }
  }
}

.preview-pane {
  position: absolute;
  left: 10px;
  right: 0;
  top: 0;
  bottom: 0;
  @include border-radius(6px 0px 0px 6px);
  background-color: #fff;
  overflow-y: scroll;
  overflow-x: visible;

  .preview {
    position: absolute;
    right: 4px;
    left: 0;
    top: 0;
    padding: 6px;

    zoom: 0.6;

    h1 {
      font-size: 250%;
    }

    h2 {
      font-size: 200%;
    }

    h3 {
      font-size: 160%;
    }

    h4 {
      font-size: 120%;
    }

    h5 {
      font-size: 110%;
    }

    h6 {
      font-size: 100%;
    }
  }
}
