@import "compass";
@import "common";
@import "note_common";

$note-background-color: #44aa44;
$index-background-color: #aaeeaa;
$index-mark-color: #484;

$note-background-color: #eee;
$index-background-color: #f8f8f8;
$index-mark-color: #484;
$handle-dragging-background-color: #dfc;
$handle-width: 4px;
$handle-background-color: #ccc;

@mixin handle-dragging {
  //border-left: 1px dashed #666;
  //border-right: 1px dashed #666;
  border: 1px dashed #999;
  border-top-width: 0;
  border-bottom-width: 0;
}

body#my_notes-show,#my_notes-edit {
  //background-color: $note-background-color;
  padding-top: 40px;
}

.note {
  position: relative;
  box-sizing: border-box;


  &::after {
    clear:both;
  }

  .sidebar {
    position: absolute;
    width: 216px;
    height: 100%;
    z-index: 1;
    background-color: #eee;

    .handle {
      position: absolute;
      top: 0;
      bottom: 0;
      right: -$handle-width;
      width: $handle-width;
      //background-color: $handle-background-color;
      cursor: col-resize;
      box-sizing: content-box;

      &.ui-draggable-dragging {
        @include handle-dragging;
      }
    }
  }

  .index {
    position: absolute;
    top: 0;
    bottom: 4px;
    left: 4px;
    right: 0;
    //background-color: $index-background-color;
    overflow: scroll;
    //border: 1px #ddd solid;
    border-right: 1px $border-color1 solid;
    //@include border-radius(10px);
    //@include box-shadow(rgba(#ccc, 0.5) 0px 0px 4px 2px inset);
    //@include border-radius(6px);

    ul {
      list-style: none;
      margin-left: 0px;
      padding-left: 0px;

      >li {
        cursor: pointer;
        padding: 0 10px;
        white-space: nowrap;

        .title {
          padding: 0 5px;
        }

        &:hover {
          background-color: #f8e0e0;
        }

        i {
          color: $index-mark-color;
        }

        &[data-depth="1"] {
          margin-top: 8px;
          font-size: 100%;
          color: #000;
        }

        &[data-depth="2"] {
          font-size: 90%;
          padding-left: 20px;
          color: #222;
        }

        &[data-depth="3"] {
          font-size: 80%;
          color: #444;
          padding-left: 30px;
        }

        &[data-depth="4"] {
          font-size: 75%;
          color: #666;
          padding-left: 40px;
        }

        &[data-depth="5"] {
          font-size: 70%;
          color: #666;
          padding-left: 50px;
        }

        &[data-depth="6"] {
          font-size: 65%;
          color: #666;
          padding-left: 60px;
        }

      }
    }
  }

  .editor {
    position: absolute;
    //.footer {
    //  height: 100px;
    //  background-color: #fff;
    //}
    left: 0;
    top: 0;
    //bottom: 0;
    height: 100%;
    right: 0px;
    z-index: 0;
    overflow-y: scroll;
    padding: 4px 2px 4px 2px;

    textarea {
      box-sizing: border-box;
      width:100%;
      min-height: 480px;
      padding: 10px;
      resize: none;
      margin: 0px;
      @include box-shadow(rgba(#ccc, 0.8) 1px 1px 2px);
      border: 1px solid rgba(#ccc, 0.8);
      //outline: 0px none transparent;
      outline: none !important;
      //background-image: url("/assets/paper1.png");
      //background-position: -10px -10px;

      &:focus {
        //border: 0;
        //outline: 0px none transparent !important;
        //border: 1px solid rgba(#aaf, 0.8);
      }
    }
  }
}

.editor-container {
  position: absolute;

  top: 0;
  left: 216px + $handle-width;
  right: 0px;
  height: 100%;

  z-index: 0;
}

.right-sidebar {
  position: fixed;
  right: 0;
  top: 65px;
  bottom: 0;
  width: 310px;
  z-index: 1;
  //background: blue;

  .handle {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0px;
    width: $handle-width;
    //background-color: $handle-background-color;
    cursor: col-resize;
    z-index: 2;
    box-sizing: content-box;

    &.ui-draggable-dragging {
      @include handle-dragging;
    }
  }
}

.preview-pane {
  position: absolute;
  left: $handle-width;
  right: 0;
  top: 0;
  bottom: 0;
  //@include border-radius(6px 0px 0px 6px);
  //background-color: #fff;
  overflow-y: scroll;
  overflow-x: visible;

  .preview {
    padding: 10px;
    zoom: 0.6;

    @include note_common;
  }

  img {
    max-width: 320px;
  }

  pre > code {
    background: whitesmoke;
  }
}

.image-panel {
  display: none;
  z-index: 2;
  position: absolute;
  top: 100px;
  left: 40px;
  width: 400px;
  height: 300px;
  background-color: #ffff00;
}

input.image-uploader {
  display: none;
}

.note-state {
  position: absolute;
  top: 8px;
  right: 5px;
  width: 16px;
  height: 16px;
  @include border-radius(8px);
  //background-color: rgba(limegreen, 0.5);

  &.is-saved {

  }
  
  &.is-modified {
    background-color: rgba(#44ff44, 0.5);
  }
}