#sidebar {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 320px;
  height: 100%;

  background-color: #eee;
}

#main {
  padding-left: 310px;
  //background-color: #ffc;
  //min-height: 100px;
  width: 100%;
}

.notes {
  position: relative;
  top: 40px;

  ul {
    list-style: none;
    margin-left: 10px;

    li {
      &:hover {
        background-color: #ddd;
      }
    }
  }
}

