@import "compass";
@import "note_common";

.note-html {
  padding: 6px;
  @include border-radius(6px);
  @include note_common;
}

.note-list-page {
  position: relative;
}

.note-list-pane {
  position: absolute;
  top: 0;
  height: 100%;
  width: 30%;
  box-sizing: border-box;
  border-right: 1px solid #ddd;
}

.note-preview-pane {
  position: absolute;
  top: 0;
  right: 0;
  left: 30%;
}

.note-list {
  padding-left: 10px;
  padding-right: 10px;
  list-style: none;
  margin-left: 10px;

  >li {
    // box
    padding: 4px 0 6px;
    border-top: 1px dotted #888;
    cursor: pointer;

    // background
    //background-color: #f8f8f8;

    &:last-child {
      border-bottom: 1px dotted #888;
    }

    &:hover {
      background-color: #efd;

      .note-index-actions {
        display: block;
      }
    }
  }

  .note-list-item {
    position: relative;
  }

  .more {
    padding-left: 10px;
  }
}

.note-list-pane {
  position: fixed;
  left: 0;
  top: 44px;
  height: 100%;
  overflow-y: scroll;
  
  .more {
    padding-left: 10px;
    margin-left: 10px;
  }
}

.note-index-actions {
  display: none;
  float: right;
  padding: 0 4px;
  margin: 0;
  list-style: none;
  background-color: #ddd;
  @include border-radius(4px);
  cursor: pointer;

  li {
    padding: 0;
    margin: 0;
    border-width: 0;
  }
}
