@import "compass";

#home-index {
  .content {
    padding-top: 10px;
  }

  #sidebar {
    position: fixed;
    top: 50px;
    right: 0;
    width: 50%;
  }

  #main {
    width: 50%;
  }

  .note-content {
    padding: 6px;
    background-color: #eee;
    @include border-radius(6px);
  }
}

#my_notes-show {

}