@import "compass";

#home-index {
  .content {
    padding-top: 10px;
  }

  #sidebar {
    position: fixed;
    top: 50px;
    right: 0;
    width: 50%;
  }

  #main {
    width: 50%;
  }
}

#my_notes-show {

}

#my_notes-index {
  //.content {
  //  padding-top: 10px;
  //}

  #sidebar {
    position: fixed;
    top: 40px;
    right: 0;
    width: 50%;
  }

  #main {
    width: 50%;
  }
}
