@import "compass";

.note {
  position: relative;
  padding: 0;

  &::after {
    clear:both;
  }

  textarea {
    width:100%;
    resize: none;
    margin: 0px;
    padding: 0px;
    border: 0;
    //border-bottom: 1px dotted #888;
    //background-color: #fff;
    @include border-radius(0);
    @include box-shadow(red 0px 0px 0px);
    //outline: 0px none transparent;
    outline: none !important;
    &:focus {
      border: 0;
      outline: 0px none transparent !important;
    }
  }

  .index {
    position: fixed;
    width: 216px;
    background-color: #eee;
    overflow: scroll;
    height: 100%;

    ul {
      list-style: none;
      margin-left: 0px;
      padding-left: 0px;

      >li {
        cursor: pointer;
        padding: 0 10px;
        white-space: nowrap;

        &:hover {
          background-color: #f8f8f8;
        }

        &[data-depth="1"] {
          font-size: 100%;
          color: #000;
        }

        &[data-depth="2"] {
          font-size: 90%;
          padding-left: 20px;
          color: #222;
        }

        &[data-depth="3"] {
          font-size: 80%;
          color: #444;
          padding-left: 30px;
        }

        &[data-depth="4"] {
          font-size: 75%;
          color: #666;
          padding-left: 40px;
        }

        &[data-depth="5"] {
          font-size: 70%;
          color: #666;
          padding-left: 50px;
        }

        &[data-depth="6"] {
          font-size: 65%;
          color: #666;
          padding-left: 60px;
        }

      }
    }
  }

  .layout {
    padding-left: 220px;
  }

  .editor {
    padding: 10px;
    min-height: 480px;
    @include border-radius(0px 6px 0px 6px);
    background-color: #fff;
    .footer {
      height: 100px;
      background-color: #fff;
    }
  }
}

#debug {
  z-index: 10;
  background-color: rgba(255, 255, 0, 0.2);
  width: 300px;
  height: 240px;
  position: fixed;
  top: 60px;
  right: 20px;
}

.notes {
  ul {
    padding-left: 10px;
    padding-right: 10px;
    list-style: none;
    margin-left: 10px;

    li {
      // box
      padding: 4px 0 6px;
      border-top: 1px dotted #888;

      // background
      //background-color: #f8f8f8;

      &:last-child {
        border-bottom: 1px dotted #888;
      }

      &:hover {
        background-color: #efd;
      }
    }
  }

  .more {
    padding-left: 10px;
  }
}
